In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
import sys
import os
sys.path.append(os.path.abspath(os.path.join('../scripts')))
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)

from ml import Ml
from preprocess import Preprocess
from clean_data import CleanData
from plot import Plot

In [2]:
train_store = pd.read_csv(r'C:\Users\sam\Desktop\pharma\data\train_store.csv', engine = 'python')
test = pd.read_csv(r'C:\Users\sam\Desktop\pharma\data\test.csv')

In [3]:
ml = Ml()
clean = CleanData()
pt = Plot()
pre = Preprocess()

In [4]:
train_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844338 entries, 0 to 844337
Data columns (total 23 columns):
Unnamed: 0                   844338 non-null int64
Store                        844338 non-null int64
DayOfWeek                    844338 non-null int64
Sales                        844338 non-null int64
Customers                    844338 non-null int64
Open                         844338 non-null int64
Promo                        844338 non-null int64
StateHoliday                 844338 non-null object
SchoolHoliday                844338 non-null int64
Year                         844338 non-null int64
Month                        844338 non-null int64
Day                          844338 non-null int64
WeekOfYear                   844338 non-null int64
SalePerCustomer              844338 non-null float64
StoreType                    844338 non-null object
Assortment                   844338 non-null object
CompetitionDistance          844338 non-null float64
CompetitionOpenSinceMonth    844338 non-null float64
CompetitionOpenSinceYear     844338 non-null float64
Promo2                       844338 non-null int64
Promo2SinceWeek              844338 non-null float64
Promo2SinceYear              844338 non-null float64
PromoInterval                844338 non-null object
dtypes: float64(6), int64(13), object(4)
memory usage: 148.2+ MB

In [7]:
train_store.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
numr_col = pre.get_numerical_columns(train_store)
print("the numeric columns are",numr_col)

the numeric columns are ['Store', 'DayOfWeek', 'Sales', 'Customers', 'Open', 'Promo', 'SchoolHoliday', 'Year', 'Month', 'Day', 'WeekOfYear', 'SalePerCustomer', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear']

In [11]:
cat_col = pre.get_categorical_columns(train_store)
print("the Categorial columns are",cat_col)

the Categorial columns are ['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval']

In [12]:
pre.get_missing_values(train_store)

Store                        0
DayOfWeek                    0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Year                         0
Month                        0
Day                          0
WeekOfYear                   0
SalePerCustomer              0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

# the missing values had been dealt on the Clean notebook

# extracting new columns

In [35]:
# df2 = df.query("DayOfWeek == 6")
# df2
### extracting new column on weekends
train_store = train_store.assign(weekends = ((train_store.DayOfWeek ==6) | (train_store.DayOfWeek == 7)))
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,False,False
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",False,False
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",False,False
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,False,False
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,False,False
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,False,False
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",False,False
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,False,False
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,False,False

In [36]:
### extracting new column on weekdays
train_store = train_store.assign(weekdays = ((train_store.DayOfWeek !=6) & (train_store.DayOfWeek != 7)))
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,True,False
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",True,False
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",True,False
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,True,False
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,True,False
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,True,False
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",True,False
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,True,False
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,True,False

In [37]:
### extracting new column on number of days to holidays
train_store = train_store.assign(number_of_days_to_holidays = (len(train_store.StateHoliday =='0')/len(train_store.StateHoliday != '0')))
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends,number_of_days_to_holidays
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,True,False,1.0
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",True,False,1.0
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",True,False,1.0
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,True,False,1.0
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,True,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,True,False,1.0
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,True,False,1.0
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",True,False,1.0
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,True,False,1.0
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,True,False,1.0

In [ ]:
### extracting new column on number of days after holidays
train_store = train_store.assign(number_of_days_to_holidays = (len(train_store.StateHoliday =='0')/len(train_store.StateHoliday != '0')))
train_store

In [44]:
### extracting new column on Beginning of month, mid month and ending of month
train_store = train_store.assign(beginning_of_month = (train_store.Day < 10) & (train_store.Day >= 1))
train_store = train_store.assign(mid_of_month = (train_store.Day < 20) & (train_store.Day >= 10))
train_store = train_store.assign(end_of_month = (train_store.Day <= 31) & (train_store.Day >= 20))
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends,number_of_days_to_holidays,beginning_of_month,mid_of_month,end_of_month
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,True,False,1.0,False,False,True
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",True,False,1.0,False,False,True
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",True,False,1.0,False,False,True
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,True,False,1.0,False,False,True
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,True,False,1.0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,True,False,1.0,True,False,False
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,True,False,1.0,True,False,False
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",True,False,1.0,True,False,False
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,True,False,1.0,True,False,False
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,True,False,1.0,True,False,False

### I have add extracted the following new columns 
- by years
- by days
- by weeks
- by weekdays
- by weekends
- by salespercustomer
- by beginning, mid and end of the year
- by number_of_days_to_holidays
- by number_of_days_after_holidays

In [56]:
train_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844338 entries, 0 to 844337
Data columns (total 28 columns):
Store                         844338 non-null int64
DayOfWeek                     844338 non-null int64
Sales                         844338 non-null int64
Customers                     844338 non-null int64
Open                          844338 non-null int64
Promo                         844338 non-null int64
StateHoliday                  844338 non-null object
SchoolHoliday                 844338 non-null int64
Year                          844338 non-null int64
Month                         844338 non-null int64
Day                           844338 non-null int64
WeekOfYear                    844338 non-null int64
SalePerCustomer               844338 non-null float64
StoreType                     844338 non-null object
Assortment                    844338 non-null object
CompetitionDistance           844338 non-null float64
CompetitionOpenSinceMonth     844338 non-null float64
CompetitionOpenSinceYear      844338 non-null float64
Promo2                        844338 non-null int64
Promo2SinceWeek               844338 non-null float64
Promo2SinceYear               844338 non-null float64
PromoInterval                 844338 non-null object
weekdays                      844338 non-null bool
weekends                      844338 non-null bool
number_of_days_to_holidays    844338 non-null float64
beginning_of_month            844338 non-null bool
mid_of_month                  844338 non-null bool
end_of_month                  844338 non-null bool
dtypes: bool(5), float64(7), int64(12), object(4)
memory usage: 152.2+ MB

In [69]:
# df.drop('auction_id', axis=1, inplace=True)
numerical_column = train_store.select_dtypes(exclude=["object", "bool"]).columns.tolist()
bool_col = train_store.select_dtypes(include=["bool"]).columns.tolist()
categorical_column = train_store.select_dtypes(include=["object"]).columns.tolist()

In [70]:
numerical_column

['Store',
 'DayOfWeek',
 'Sales',
 'Customers',
 'Open',
 'Promo',
 'SchoolHoliday',
 'Year',
 'Month',
 'Day',
 'WeekOfYear',
 'SalePerCustomer',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'weekdays',
 'weekends',
 'number_of_days_to_holidays',
 'beginning_of_month',
 'mid_of_month',
 'end_of_month']

In [71]:
categorical_column

['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval']

In [72]:
for i in range(len(bool_col)):
    train_store[bool_col[i]] = train_store[bool_col[i]].replace({True: 1, False: 0})

In [73]:
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends,number_of_days_to_holidays,beginning_of_month,mid_of_month,end_of_month
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,1,0,1.0,0,0,1
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",1,0,1.0,0,0,1
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",1,0,1.0,0,0,1
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,1,0,1.0,0,0,1
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,1,0,1.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",1,0,1.0,1,0,0
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,1,0,1.0,1,0,0

In [74]:
from sklearn.preprocessing import LabelEncoder
# Get column names have less than 10 more than 2 unique values
to_one_hot_encoding = [col for col in categorical_column if train_store[col].nunique() <= 10]
one_hot_encoded_columns = pd.get_dummies(train_store[to_one_hot_encoding])
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,weekdays,weekends,number_of_days_to_holidays,beginning_of_month,mid_of_month,end_of_month
0,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,1,0,1.0,0,0,1
1,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",1,0,1.0,0,0,1
2,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",1,0,1.0,0,0,1
3,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,1,0,1.0,0,0,1
4,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,1,0,1.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,a,1,2013,1,1,1,5.962898,b,a,150.0,9.0,2006.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844334,733,2,10765,2377,1,0,a,1,2013,1,1,1,4.528818,b,b,860.0,10.0,1999.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844335,769,2,5035,1248,1,0,a,1,2013,1,1,1,4.034455,b,b,840.0,0.0,0.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct",1,0,1.0,1,0,0
844336,948,2,4491,1039,1,0,a,1,2013,1,1,1,4.322425,b,b,1430.0,0.0,0.0,0,0.0,0.0,0,1,0,1.0,1,0,0
844337,1097,2,5961,1405,1,0,a,1,2013,1,1,1,4.242705,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,1,0,1.0,1,0,0

In [75]:
one_hot_encoded_columns

,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec"
0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0
4,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
844334,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
844335,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0
844336,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
844337,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0

In [76]:
train_store.drop(['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval'], axis=1, inplace=True)
train_store = pd.concat([train_store, one_hot_encoded_columns], axis=1)
train_store

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,weekdays,weekends,number_of_days_to_holidays,beginning_of_month,mid_of_month,end_of_month,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec"
0,1,5,5263,555,1,1,1,2015,7,31,31,9.482883,1270.0,9.0,2008.0,0,0.0,0.0,1,0,1.0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0
1,2,5,6064,625,1,1,1,2015,7,31,31,9.702400,570.0,11.0,2007.0,1,13.0,2010.0,1,0,1.0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0
2,3,5,8314,821,1,1,1,2015,7,31,31,10.126675,14130.0,12.0,2006.0,1,14.0,2011.0,1,0,1.0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0
3,4,5,13995,1498,1,1,1,2015,7,31,31,9.342457,620.0,9.0,2009.0,0,0.0,0.0,1,0,1.0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0
4,5,5,4822,559,1,1,1,2015,7,31,31,8.626118,29910.0,4.0,2015.0,0,0.0,0.0,1,0,1.0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,2,3375,566,1,0,1,2013,1,1,1,5.962898,150.0,9.0,2006.0,0,0.0,0.0,1,0,1.0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
844334,733,2,10765,2377,1,0,1,2013,1,1,1,4.528818,860.0,10.0,1999.0,0,0.0,0.0,1,0,1.0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
844335,769,2,5035,1248,1,0,1,2013,1,1,1,4.034455,840.0,0.0,0.0,1,48.0,2012.0,1,0,1.0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0
844336,948,2,4491,1039,1,0,1,2013,1,1,1,4.322425,1430.0,0.0,0.0,0,0.0,0.0,1,0,1.0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
844337,1097,2,5961,1405,1,0,1,2013,1,1,1,4.242705,720.0,3.0,2002.0,0,0.0,0.0,1,0,1.0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0

In [77]:
train_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844338 entries, 0 to 844337
Data columns (total 39 columns):
Store                             844338 non-null int64
DayOfWeek                         844338 non-null int64
Sales                             844338 non-null int64
Customers                         844338 non-null int64
Open                              844338 non-null int64
Promo                             844338 non-null int64
SchoolHoliday                     844338 non-null int64
Year                              844338 non-null int64
Month                             844338 non-null int64
Day                               844338 non-null int64
WeekOfYear                        844338 non-null int64
SalePerCustomer                   844338 non-null float64
CompetitionDistance               844338 non-null float64
CompetitionOpenSinceMonth         844338 non-null float64
CompetitionOpenSinceYear          844338 non-null float64
Promo2                            844338 non-null int64
Promo2SinceWeek                   844338 non-null float64
Promo2SinceYear                   844338 non-null float64
weekdays                          844338 non-null int64
weekends                          844338 non-null int64
number_of_days_to_holidays        844338 non-null float64
beginning_of_month                844338 non-null int64
mid_of_month                      844338 non-null int64
end_of_month                      844338 non-null int64
StateHoliday_0                    844338 non-null uint8
StateHoliday_a                    844338 non-null uint8
StateHoliday_b                    844338 non-null uint8
StateHoliday_c                    844338 non-null uint8
StoreType_a                       844338 non-null uint8
StoreType_b                       844338 non-null uint8
StoreType_c                       844338 non-null uint8
StoreType_d                       844338 non-null uint8
Assortment_a                      844338 non-null uint8
Assortment_b                      844338 non-null uint8
Assortment_c                      844338 non-null uint8
PromoInterval_0                   844338 non-null uint8
PromoInterval_Feb,May,Aug,Nov     844338 non-null uint8
PromoInterval_Jan,Apr,Jul,Oct     844338 non-null uint8
PromoInterval_Mar,Jun,Sept,Dec    844338 non-null uint8
dtypes: float64(7), int64(17), uint8(15)
memory usage: 166.7 MB

In [79]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
df_scaled = std_scaler.fit_transform(train_store)
df_scaled = pd.DataFrame(df_scaled)
df_scaled

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38
0,-1.732571,0.858410,-0.545445,-0.517897,0.0,1.113717,2.04105,1.502764,0.347245,1.746357,0.510986,-0.004896,-0.535829,0.950950,0.682276,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,-0.634305,-0.713106,1.288261,0.032847,-0.028681,-0.013106,-0.00917,-1.086317,-0.137021,2.544432,-0.664762,0.947587,-0.099085,-0.929266,0.997343,-0.36236,-0.634580,-0.324973
1,-1.729463,0.858410,-0.287375,-0.343418,0.0,1.113717,2.04105,1.502764,0.347245,1.746357,0.510986,0.095000,-0.625560,1.417843,0.681207,1.002664,0.091706,1.000919,0.460351,-0.460351,0.0,-0.634305,-0.713106,1.288261,0.032847,-0.028681,-0.013106,-0.00917,0.920542,-0.137021,-0.393015,-0.664762,0.947587,-0.099085,-0.929266,-1.002664,-0.36236,1.575844,-0.324973
2,-1.726355,0.858410,0.437539,0.145124,0.0,1.113717,2.04105,1.502764,0.347245,1.746357,0.510986,0.288077,1.112661,1.651290,0.680138,1.002664,0.157031,1.001913,0.460351,-0.460351,0.0,-0.634305,-0.713106,1.288261,0.032847,-0.028681,-0.013106,-0.00917,0.920542,-0.137021,-0.393015,-0.664762,0.947587,-0.099085,-0.929266,-1.002664,-0.36236,1.575844,-0.324973
3,-1.723247,0.858410,2.267868,1.832587,0.0,1.113717,2.04105,1.502764,0.347245,1.746357,0.510986,-0.068800,-0.619151,0.950950,0.683345,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,-0.634305,-0.713106,1.288261,0.032847,-0.028681,-0.013106,-0.00917,-1.086317,-0.137021,2.544432,-0.664762,-1.055312,-0.099085,1.076118,0.997343,-0.36236,-0.634580,-0.324973
4,-1.720139,0.858410,-0.687528,-0.507927,0.0,1.113717,2.04105,1.502764,0.347245,1.746357,0.510986,-0.394787,3.135459,-0.216284,0.689758,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,-0.634305,-0.713106,1.288261,0.032847,-0.028681,-0.013106,-0.00917,0.920542,-0.137021,-0.393015,-0.664762,0.947587,-0.099085,-0.929266,0.997343,-0.36236,-0.634580,-0.324973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,0.384106,-0.882021,-1.153729,-0.490479,0.0,-0.897894,2.04105,-1.070341,-1.457833,-1.708516,-1.573806,-1.606748,-0.679399,0.950950,0.680138,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,1.576529,-0.713106,-0.776240,-30.444112,34.865819,-0.013106,-0.00917,-1.086317,7.298176,-0.393015,-0.664762,0.947587,-0.099085,-0.929266,0.997343,-0.36236,-0.634580,-0.324973
844334,0.542624,-0.882021,1.227213,4.023548,0.0,-0.897894,2.04105,-1.070341,-1.457833,-1.708516,-1.573806,-2.259360,-0.588386,1.184396,0.672656,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,1.576529,-0.713106,-0.776240,-30.444112,34.865819,-0.013106,-0.00917,-1.086317,7.298176,-0.393015,-0.664762,-1.055312,10.092332,-0.929266,0.997343,-0.36236,-0.634580,-0.324973
844335,0.654518,-0.882021,-0.618903,1.209447,0.0,-0.897894,2.04105,-1.070341,-1.457833,-1.708516,-1.573806,-2.484331,-0.590950,-1.150071,-1.464042,1.002664,2.378078,1.002908,0.460351,-0.460351,0.0,1.576529,-0.713106,-0.776240,-30.444112,34.865819,-0.013106,-0.00917,-1.086317,7.298176,-0.393015,-0.664762,-1.055312,10.092332,-0.929266,-1.002664,-0.36236,1.575844,-0.324973
844336,1.210884,-0.882021,-0.794171,0.688502,0.0,-0.897894,2.04105,-1.070341,-1.457833,-1.708516,-1.573806,-2.353284,-0.515319,-1.150071,-1.464042,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,1.576529,-0.713106,-0.776240,-30.444112,34.865819,-0.013106,-0.00917,-1.086317,7.298176,-0.393015,-0.664762,-1.055312,10.092332,-0.929266,0.997343,-0.36236,-0.634580,-0.324973
844337,1.674005,-0.882021,-0.320560,1.600779,0.0,-0.897894,2.04105,-1.070341,-1.457833,-1.708516,-1.573806,-2.389562,-0.606332,-0.449731,0.675863,-0.997343,-0.757518,-0.997343,0.460351,-0.460351,0.0,1.576529,-0.713106,-0.776240,-30.444112,34.865819,-0.013106,-0.00917,-1.086317,7.298176,-0.393015,-0.664762,-1.055312,10.092332,-0.929266,0.997343,-0.36236,-0.634580,-0.324973

In [80]:
df_scaled.to_csv('../data/scaled_data.csv')